main {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--bg-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
